<!DOCTYPE html>
<html>
  <head>
    <title>Diabetes Regression Prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="..\static\css\style.css">
  </head>

  <body>
    <form action="{{url_for('predict')}}", method="post">

      <div class="banner">
        <h1>Diabetes Disease Progression Prediction</h1>
      </div>

      <div class="contact-item">
        <div class="item">
          <p>Age</p>
          <input type="number" name="age" required="required"/>
        </div>
        <div class="item">
          <p>Sex</p>
          <select type="number" name="sex">
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </div>
      </div>

      <div class="contact-item">
        <div class="item">
          <p>Body Mass Index (BMI)</p>
          <input type="number" step="0.01" name="BMI" required="required"/>
        </div>
        <div class="item">
          <p>Avg. Systolic Blood Pressure</p>
          <input type="number" step="0.01" name="bp"/>
        </div>
      </div>

      <div class="contact-item">
        <div class="item">
          <p>Total Serum Cholesterol (mg/dL)</p>
          <input type="number" step="0.01" name="s1" required="required"/>
        </div>
        <div class="item">
          <p>Low-Density Lipoproteins (mg/dL)</p>
          <input type="number" step="0.01" name="s2"/>
        </div>
      </div>

      <div class="contact-item">
        <div class="item">
          <p>High-Density Lipoproteins (mg/dL)</p>
          <input type="number" step="0.01" name="s3" required="required"/>
        </div>
        <div class="item">
          <p>Total Cholesterol (mg/dL)</p>
          <input type="number" step="0.01" name="s4"/>
        </div>
      </div>

      <div class="contact-item">
        <div class="item">
          <p>Serum Triglycerides Level (mg/dL)</p>
          <input type="number" step="0.01" name="s5" required="required"/>
        </div>
        <div class="item">
          <p>Blood Sugar Level (mmol/dL)</p>
          <input type="number" step="0.01" name="s6"/>
        </div>
      </div>


      <div class="btn-block">
        <button type="submit">Submit</button>
      </div>
    </form>

    <br>
    {{prediction_text}}


  </body>
</html>
